/** 
 * -------------------------------------------
 * Base CSS
 * -------------------------------------------
 **/
body {
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1;
	font: 13px Arial, Helvetica, sans-serif;
	color: #444444;
	background: #121212;
	position: relative;
	overflow-y: scroll;
}

ol, ul {
	list-style: none;
}

strong{ font-weight: bold;}
em{font-style:italic;}

a{
	&:link, &:visited, &:active{
		color: #7d110c;
	}
	
	&:hover{
		color: #990000;
	}
}

@include selection(#f8f3d2,#7d110c);

.left{
	@include left;
}
	
.right{
	@include right;
}

.hide-element{
	@include hide;
}

.container{
	width: 960px;
	margin: 0 auto;
	padding: 0 40px;
	@include clearfix;
}

.ControlPanel, .PagingTable{
	min-width: 1040px;
}

#dnn_ctr9573_SiteSettings_UP{
	&>table{
		width: inherit;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}