** 
 * -------------------------------------------
 * Theme: University College
 * Version: 0.1
 * Website: http://www.whoisandie.com
 hi
 * -------------------------------------------
 **/
/** 
 * -------------------------------------------
 * All Webfonts included here (_webfonts.scss)
 * -------------------------------------------
 **/
@font-face {
  font-family: "benton";
   src:url('fonts/benton-sans-bold.eot'); 
	src:('fonts/benton-sans-bold.eot?#iefix') format("embedded-opentype");
  src:url('fonts/benton-sans-bold.ttf') format('truetype');
   
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ChunkFive';
  src: url("fonts/Chunkfive-webfont.eot");
  src: url("fonts/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Chunkfive-webfont.woff") format("woff"), url("fonts/Chunkfive-webfont.ttf") format("truetype"), url("fonts/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UbuntuMedIt;
  src: url("fonts/real/Ubuntu/Ubuntu/Ubuntu-MediumItalic.eot");
  src: url("fonts/real/Ubuntu/Ubuntu/Ubuntu-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/real/Ubuntu/Ubuntu/Ubuntu-MediumItalic.ttf");
}

@font-face {
  font-family: UbuntuIt;
  src: url("fonts/real/Ubuntu/Ubuntu/Ubuntu-Italic.eot");
  src: url("fonts/real/Ubuntu/Ubuntu/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/real/Ubuntu/Ubuntu/Ubuntu-Italic.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("fonts/Oswald/Oswald-Regular.eot");
  src: url("fonts/Oswald/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Oswald/Oswald-Regular.ttf");
}

/** 
 * -------------------------------------------
 * Module Specific CSS
 * -------------------------------------------
 **/
.repository_content table {
  width: 100%;
  border: none !important;
}

table#dnn_ctr11279_Repository_HeaderTable td table:first-child, table#dnn_ctr11279_Repository_HeaderTable td td:last-child.breadcrumb {
  display: none;
}
table#dnn_ctr11279_Repository_HeaderTable table td {
  padding: 15px !important;
}
table#dnn_ctr11279_Repository_HeaderTable select {
  width: 150px !important;
}

table#dnn_ctr11279_Repository_DataTable {
  margin-top: 10px;
  background: #fff;
}
table#dnn_ctr11279_Repository_DataTable table {
  padding: 20px;
}
table#dnn_ctr11279_Repository_DataTable table td {
  padding: 0 !important;
}
table#dnn_ctr11279_Repository_DataTable table span.RepositoryTitle {
  font-size: 18px;
}

table#dnn_ctr11279_Repository_FooterTable {
  margin-top: 10px;
}

ul[id$="dnnMODULEACTIONSMENU"]{
	margin-top: 3px !important;
}

/** 
 * -------------------------------------------
 * Reset CSS
 * -------------------------------------------
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a:hover, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: inherit;
  list-style-position: outside;
  list-style-type: circle;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** 
 * -------------------------------------------
 * Base CSS
 * -------------------------------------------
 **/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  font: 13px Arial, Helvetica, sans-serif;
  color: #444444;
  background: #fff;
  position: relative;
  overflow-y: scroll;
}

ol, ul {
  list-style:inherit;
}
#dnn_IntContent ol{
	list-style-position:outside !important;
	list-style: decimal !important;
}

#dnn_IntContent ul{
  list-style: square inside none;
}

#dnn_IntContent{
  float:left;	
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a:link, a:visited, a:active {
  color: #7d110c;
  text-decoration:none;
}
a:hover {
  color: #990000;
  text-decoration:underline;
}

::-webkit-selection {
  color: #f8f3d2;
  background: #7d110c;
}

::-moz-selection {
  color: #f8f3d2;
  background: #7d110c;
}

::-o-selection {
  color: #f8f3d2;
  background: #7d110c;
}

::selection {
  color: #f8f3d2;
  background: #7d110c;
}

.left {
  float: left;
  margin-top:20px;
}

.right {
  float: right;
  width: 175px;
}

.hide-element {
  display: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  zoom: 1;
}
.container1 {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  zoom: 1;
  position: relative;
}

.container1:before, .container1:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.container:before, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.container:after {
  clear: both;
}
.container1:after {
  clear: both;
}

.ControlPanel, .PagingTable {
  min-width: 1040px;
}

#dnn_ctr9573_SiteSettings_UP > table {
  width: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.cta {
  width: 100%;
  margin: 5px 0;
  padding: 10px 0;
  float: left;
  zoom: 1;
}
div.cta:before, div.cta:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
div.cta:after {
  clear: both;
}
div.cta:hover {
  opacity: 0.9;
}

a.cta {
  font-family: ChunkFive, "Arial Black";
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-size: 11pt;
  height: 40px;
  background: url("img/cta-bg.png");
  line-height: 42px;
  float: left;
}

a.cta:link, a.cta:visited {
  color: #f8f3d2;
  text-shadow: #4b1210 0 1px;
}

span.cta {
  width: 12px;
  height: 40px;
  float: left;
}

span.cta-before {
  background: url("img/cta-bg-left.png");
}

span.cta-after {
  background: url("img/cta-bg-right.png");
}

/** 
 * -------------------------------------------
 * Typography CSS
 * -------------------------------------------
 **/
h1, h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  letter-spacing:normal !important;
}

h1 {
  text-transform: uppercase;
  font-size: 9pt;
  padding: 0 0 6px 0;
}

h2 {
  font-size: 18pt;
  margin: 2px 0 7px;
}

h2, h2 .primHead {
  font-style: italic;
  color: #990000;
  padding-bottom: 20px;
}

h3 {
  font-size: 13pt;
  margin: 20px 0px 10px;
}

h3, h3 .secHead {
  font-style: italic;
  color: #990000;
}

h4 {
  text-transform: uppercase;
  font-size: 12pt;
  margin: 25px 0 10px;
}

h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  margin: 10px 0 10px;
}

.h11, .h13, .h15 {
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 20px;
  margin-bottom: 12px;
  display: block;
}

.h12, .h14 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
  display: block;
}

.h11 {
  font-weight: none;
  font-size: 28px;
}

.h12 {
  font-size: 18px;
}

.h13 {
  font-size: 16px;
  color: #900;
}

.h14 {
  font-size: 12px;
  color: #333;
}

.h15 {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

/** 
 * -------------------------------------------
 * JagJobs XML Feed CSS
 * -------------------------------------------
 **/
#DNN_Feed {
  padding-top: 10px;
}

.DNN_Feed_Item {
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  display: none;
  border-bottom: 1px solid #c6c6c6;
}
.DNN_Feed_Item a {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 10pt;
}

span.JobTitle, span.OrgName_Exp, span.JobsLink {
  display: block;
}

span.OrgName_Exp {
  padding-top: 4px;
}

span.JobsLink a {
  color: #444;
  text-decoration: underline;
}

/** 
 * -------------------------------------------
 * Topbar CSS
 * -------------------------------------------
 **/
.element-template{
	 padding-top: 0px !important;}
 .element-template .image-content {
float: left !important;
width: 440px;
}
.element-template .element-info {
 float: right !important; 
width: 440px;
}
.topbar {
	
 min-height: 52px;	
  background: url(/Portals/_default/Skins/UniversityCollege/img/bg-bar.gif) repeat-x 0 100%;
  background-color: #990000;
  width: 100%;
  min-width: 1040px;
}
.topbar .container a {
  width: 410px;
  height: 45px;
  display: block;
}

.topbar .container1 a {
  height: 0px;
  display: block;
}

.IULogo{
	margin-top:15px;
	margin-left:70px;
}

/** 
 * -------------------------------------------
 * Masthead CSS
 * -------------------------------------------
 **/
.all {
  width: 100%;
}

.masthead {
  width: 100%;
  min-width: 1040px;
  background: #990000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6070a', endColorstr='#7d110c');
  background: -webkit-gradient(linear, left top, left bottom, from(#a6070a), to(#7d110c));
  background: -moz-linear-gradient(top, #a6070a, #7d110c);
}
.masthead .container {
  background: url("img/jag_logo_main.png") no-repeat 705px 0;
}

.masthead-interior {
  padding: 0 0 40px;
}

/** 
 * -------------------------------------------
 * Header CSS
 * -------------------------------------------
 **/
#ucol-home {
  display: block;
  padding: 10px 0 0;
  height: 17px;
  width: 129px;
  background: url("img/ucol_home.png") no-repeat 0 10px;
}

#logo {
  margin: 14px 0 35px;
}

#user {
  width: 300px;
  margin: 0;
  float: right;
  display: inline-block;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #f8f3d2;
}
#user p {
  text-align: right;
  padding: 15px 0;
}
#user a {
  color: #f8f3d2;
  text-decoration: none;
}
#user a:hover {
  text-decoration: underline;
}

#search-container .ModSearchCrawlerInputC {
  width: auto;
  clear: both;
}
#search-container input[type="text"], #search-container input[type="submit"] {
  margin: 0;
  padding: 0 3px;
  vertical-align: top;
}
#search-container input[type="text"] {
  width: 142px;
  height: 25px;
  display: inline-block;
  border: none;
  background: #f8f3d2;
  border-radius: 0;
  font: 8pt Arial, Helvetica, sans-serif;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#search-container input[type="text"]:focus {
  outline: none;
}
#search-container input[type="submit"] {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 0;
  background: url("img/search_btn.gif") 0 -1px;
  border-radius: 0;
  text-indent: -9999px;
  clear: both;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.vivoSearch{
	margin-top: 35px;}
/**
 * -------------------------------------------
 * Navigation CSS
 * -------------------------------------------
 **/
#navigation {
  height: 34px;
  clear: both;
}
#navigation .RadMenu {
  float: none;
  z-index:100 !important;
}
#navigation .RadMenu_Default ul {
  zoom: 1;
}
#navigation .RadMenu_Default ul:before, #navigation .RadMenu_Default ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
#navigation .RadMenu_Default .rmRootGroup a:hover { background:none !important;
	}
#navigation .RadMenu_Default .rmRootGroup a:link{ background:none !important;
	}
#navigation .RadMenu_Default ul:after {
  clear: both;
}
#navigation .RadMenu_Default .rmlink {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#navigation .RadMenu_Default .rmRootGroup {
  border: none;
  background: transparent;
  font-size: 15px;
}
#navigation span.rmText {
  margin: 0;
  padding: 0;
  line-height:normal;
}
#navigation span.rmText:hover {
  border-bottom: 2px solid #f8f3d2;
}
#navigation li a {
  margin: 0 5px;
  padding: 0 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: block;
}
#navigation li a:link, #navigation li a:visited {
  color: #f8f3d2;
  text-decoration: none;
}
#navigation li .rmItem span.rmExpandRight {
  position: relative;
  left: 0px;
  background: url("img/dropdown-right.png") no-repeat 180px 2px !important;
}
#navigation li .rmFirst, #navigation li.rmFirst a {
  margin-left: 0;
  padding-left: 0;
}
.RadMenu_Default .rmVertical .rmSlide, .RadMenu_Default .rmSlide .rmSlide, .RadMenu_Default_Context .rmGroup .rmSlide {
margin: 0 0 0 0px !important;
}

#navigation .RadMenu_default .rmRootGroup, #navigation .RadMenu_default .rmLink,
#navigation .RadMenu_default .rmGroup .rmText, #navigation .RadMenu_default .rmVertical .rmText,
#navigation .RadMenu_default .rmLeftArrow, #navigation .RadMenu_default .rmRightArrow, #navigation .RadMenu_default .rmTopArrow, #navigation .RadMenu_default .rmBottomArrow {
  background-image: none;
  background: transparent;
}
#navigation .rmSlide {
  overflow-x: visible;
  overflow-y: visible;
}
#navigation ul.rmGroup {
  background: #f8f3d2;
  padding: 5px 20px;
  margin: 10px 0 0;
  border: 1px solid #7d110c;
  border-top: none;
}
#navigation ul.rmGroup .rmItem {
  padding: 0;
}
#navigation ul.rmGroup span.rmText:hover {
  border: none;
  color: #7d110c;
}
#navigation .rmItem ul.rmLevel2, #navigation .rmItem ul.rmLevel3 {
  border: 1px solid #7d110c;
  margin: -6px 0 0 25px;
  padding-top: 5px;
}
#navigation .rmItem a {
  white-space: pre-line;
}

#navigation ul.rmGroup li.rmFirst > a {
  border-top: none !important;
}
#navigation ul.rmGroup li.rmLast > a {
  border-bottom: none !important;
}
#navigation ul.rmGroup a {
  width: 190px !important;
  margin: 0;
  padding: 10px 0;
  display: block;
  font-size: 9pt;
  color: #858372;
  text-shadow: 0px 1px 0px #ffffff;
  border-bottom: 1px solid #adaa93;
  border-top: 1px solid #fcf9e9;
}

#side-navigation
{
	width:170px !important;
	opacity: 0.99;
}
	
#side-navigation .RadMenu
{
	width:170px;
	display:block;
}

#side-navigation .RadMenu_Default
{
	width:170px;
	display:block;
}
	
#side-navigation .rmLink
{
	width:170px;
	display:block;
}

#side-navigation  .rmLink .rmRootLink
{
	width:170px;
	display:block;
}

#side-navigation li a {
	width:170px;
	display:block;
	margin: 0;
	padding: 0;
}
	
#side-navigation li
{
	width:170px;
	display:block;
}
	
#side-navigation .rmrootlink
{
	width:170px;
	display:block;
}
#side-navigation .rmItem 
{
	border-top:1px #fff solid;
	border-bottom:1px #ddd solid; 
	width:170px;
	display:block;
	text-wrap:normal; !important
	text-align:left;
}
  
#side-navigation .rmFirst
{
	border-top:none;
}
	
#side-navigation .rmLast
{
	border-bottom:none;
}

#side-navigation .rmText {
  margin: 0;
  padding: 5px 0;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12px;
  line-height: 1.2;
  display:block;
  width:170px;
  white-space:normal;
 }

#side-navigation .rpText{
	width:150px;	
}

#side-navigation span.rmText:hover
{
	text-decoration:underline;
	cursor: pointer;
}

/** 
 * -------------------------------------------
 * Footer CSS
 * -------------------------------------------
 **/
.all .footer {
  width: 100%;
  background: #121212;
  zoom: 1;
}
.all .footer:before, .all .footer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.all .footer:after {
  clear: both;
}
.all .footer .container {
  text-shadow: 0px 1px 0px #000000;
  color: #858372;
}

#sub-navigation {
  height: 20px;
  margin: 20px 0 15px 0;
}
#sub-navigation .RadMenu {
  float: none;
}
#sub-navigation .RadMenu .rmLink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
#sub-navigation .rmText {
  margin: 0;
  padding: 0;
  color: rgb(145,4,3);
}
#sub-navigation .rmText:hover {
  border-bottom: 1px solid #7d110c;
}
#sub-navigation .rmItem {
  padding: 0;
}
#sub-navigation li {
  float: left;
}
#sub-navigation li a {
  margin: 0;
  padding: 0 12px;
  text-decoration: none;
  cursor: pointer;
  border-left: 1px solid #858372;
}
#sub-navigation li a:link, #sub-navigation li a:visited, #sub-navigation li a:active {
  color: #858372;
  text-decoration: none;
}
#sub-navigation li a:hover {
  text-decoration: underline;
}
#sub-navigation li:first-child a {
  padding-left: 0;
  border-left: 0;
}
#sub-navigation .RadMenu_Default .rmRootGroup{
	border:none !important;
	background-image:none !important;
	background-color:#fff !important;
	}
#sub-navigation .RadMenu_Default .rmRootGroup, .RadMenu_Default a.rmLink,
.RadMenu_Default .rmGroup .rmText, .RadMenu_Default .rmVertical .rmText, 
.RadMenu_Default .rmLeftArrow, .RadMenu_Default .rmRightArrow, .RadMenu_Default .rmTopArrow, 
.RadMenu_Default .rmBottomArrow{
	background-image:none !important;
}

#left-footer {
  float: left;
  zoom: 1;
}
#left-footer:before, #left-footer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
#left-footer:after {
  clear: both;
}
#left-footer ul.footer-links {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 8pt;
}
#left-footer ul.footer-links li {
  list-style: none;
  display: inline;
  color: #858372;
}
#left-footer ul.footer-links li a {
  padding: 2px;
  display: inline-block;
  font-size: 8pt;
  color: #858372;
  text-decoration:none;
}
#left-footer ul.footer-links li a:hover{
	text-decoration:underline;}
#left-footer ul.footer-links.first {
  margin-right: 10px;
}
#left-footer ul.footer-links.first li:first-child a {
  padding-left: 0;
}
.footer-link first a{
	text-decoration:none !important;}

.footer-info {
  width: 180px;
  float: right;
  margin: 10px 0;
  border-left: 1px solid #2a2a2a;
  padding: 0 0 0 40px;
}
.footer-info * {
  font-size: 8pt;
  color: #858372;
}
.footer-info a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10pt;
}
.footer-info a:link, .footer-info a:visited, .footer-info a:active {
  color: #858372;
  text-decoration: none;
}
.footer-info a:hover {
  text-decoration: underline;
}

#dnn_BannerPane, #dnn_IntBanner {
  height: auto;
  position: relative;
  overflow: visible;
}
#dnn_BannerPane .iupui-template-wrap, #dnn_IntBanner .iupui-template-wrap {
  position: relative;
}
#dnn_BannerPane .iupui-template-wrap .info, #dnn_IntBanner .iupui-template-wrap .info {
  height: auto;
  position: absolute;
}
#dnn_BannerPane .iupui-template-wrap .desc h1, #dnn_BannerPane .iupui-template-wrap .desc h2, #dnn_BannerPane .iupui-template-wrap .desc h3, #dnn_BannerPane .iupui-template-wrap .desc p, #dnn_BannerPane .iupui-template-wrap .desc a, #dnn_IntBanner .iupui-template-wrap .desc h1, #dnn_IntBanner .iupui-template-wrap .desc h2, #dnn_IntBanner .iupui-template-wrap .desc h3, #dnn_IntBanner .iupui-template-wrap .desc p, #dnn_IntBanner .iupui-template-wrap .desc a {
  color: #f8f3d2;
}
#dnn_BannerPane .rotate-header-1, #dnn_IntBanner .rotate-header-1 {
  padding: 15px;
  background: #990000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#7d110c');
  background: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#7d110c));
  background: -moz-linear-gradient(top, #990000, #7d110c);
}
#dnn_BannerPane .rotate-header-1 h1, #dnn_IntBanner .rotate-header-1 h1 {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
  display: block;
  background: none;
  text-transform: none;
  line-height: 16pt;
  font-weight: normal;
  font-size: 16pt;
  color: #f8f3d2;
}
#dnn_BannerPane .rotate-header-2, #dnn_IntBanner .rotate-header-2 {
  margin-top: 5px;
  padding: 10px 15px;
  background-image: url("img/rotate/80.png");
  background-repeat: repeat;
  background: rgba(0, 0, 0, 0.75);
  border-left: 5px solid #7d110c;
  color: #f8f3d2;
}
#dnn_BannerPane .rotate-header-2 h1, #dnn_IntBanner .rotate-header-2 h1 {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
  padding-top: 5px;
  background: none;
  border-bottom: 1px solid;
  font: bold 13pt/9pt "Trebuchet MS", Arial, sans-serif;
}
#dnn_BannerPane .rotater-footer, #dnn_IntBanner .rotater-footer {
  width: 952px;
}

#dnn_BannerPane {
  width: 960px;
  height: auto;
}
.DnnModule {
position: relative;
z-index: 1 !important;}
#dnn_BannerPane .iupui-template-wrap {
  width: 952px;
  /*border: 4px #f8f3d2 solid;*/
}
#dnn_BannerPane .iupui-template-wrap .info, #dnn_BannerPane .iupui-template-wrap .desc {
  width: 450px;
}
#dnn_BannerPane .iupui-template-wrap .info {
  top: 70px;
  left: 435px;
}

#dnn_IntBanner {
  width: 735px;
  height: auto;
}
#dnn_IntBanner .iupui-template-wrap {
  width: 735px;
  border: none;
}
#dnn_IntBanner .iupui-template-wrap .info, #dnn_IntBanner .iupui-template-wrap .desc {
  width: 335px;
}
#dnn_IntBanner .iupui-template-wrap .info {
  top: 50px;
  left: 335px;
}

/** 
 * -------------------------------------------
 * Homepage Quicklinks CSS
 * -------------------------------------------
 **/
#dnn_QuicklinksPane #quicklinks {
  clear: both;
}
#dnn_QuicklinksPane #quicklinks .quicklinks-title {
  margin: 14px auto 0;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
  font-family: Arial,Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8pt;
}
#dnn_QuicklinksPane #quicklinks .quicklinks {
  display: inline-block;
  clear: both;
}
#dnn_QuicklinksPane #quicklinks ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#dnn_QuicklinksPane #quicklinks li {
  display: inline-block;
}
#dnn_QuicklinksPane #quicklinks a {
  padding: 0 6px;
  text-decoration: none;
  font-size: 8.5pt;
}
#dnn_QuicklinksPane #quicklinks a:hover {
  text-decoration: underline;
}

#dnn_QuicklinksPane .quicklinks-title, #dnn_QuicklinksPane .quicklinks a {
  color: #f8f3d2;
}

/** 
 * -------------------------------------------
 * Quicklinks Sidebar CSS
 * -------------------------------------------
 **/
#quicklinks-int {
  margin: 25px 0 10px;
   float:left;
  background: url("img/quick-links.png") 0 0 no-repeat;
  padding-top:25px;
}
#quicklinks-int ul {
  margin: 0;
  list-style: none;
}
#quicklinks-int.first {
  padding: 0 0 6px;
}
#quicklinks-int li {
  padding: 2px 0 0;
  font-size: 8pt;
  list-style: none;
}
#quicklinks-int li a {
  padding: 2px 0;
  display: block;
}
.Quicklinks
{
	
	padding: 2px 0 0 !important;
	padding-top:14px !important;
	}
.Quicklinks li
{
	display:inline !important;
	padding: 2px 0 0 !important;
	padding-top:25px !important;
	font-size: 11px;
font-weight: normal;
	}
.Quicklinks li a{
	padding: 2px 0 !important;
	color:#f8f3d2 !important;
text-decoration:none !important;

}
.Quicklinks li a:hover
{color:#f8f3d2; !important;
text-decoration:underline !important;
}

/** 
 * -------------------------------------------
 * Homepage Content CSS
 * -------------------------------------------
 **/
.main-body {
  width: 100%;
  min-width: 1040px;
  background: #f2f2f2 url("img/content_bg.jpg");
  padding-bottom: 30px;
}
.main-body .container {
  background: url("img/content_bg_top.jpg") no-repeat 0 0;
}

#dnn_NotificationPane {
  display: none;
}

#dnn_FirstPane, #dnn_SecondPane, #dnn_ThirdPane {
  margin-top: 25px;
  float: left;
}
#dnn_FirstPane h2, #dnn_SecondPane h2, #dnn_ThirdPane h2 {
  padding-bottom: 0;
}
#dnn_FirstPane ol, #dnn_FirstPane ul, #dnn_SecondPane ol, #dnn_SecondPane ul, #dnn_ThirdPane ol, #dnn_ThirdPane ul {
  font-size: 10pt;
  line-height: 16px;
  list-style-position: outside;
  padding: 0 0 15px 15px;
}
#dnn_FirstPane p, #dnn_SecondPane p, #dnn_ThirdPane p {
  margin: 0 0 4px 0;
}

#dnn_FirstPane, #dnn_SecondPane {
  width: 320px;
  margin-right: 40px;
}

#dnn_ThirdPane {
  width: 240px;
  margin: 18px 0 20px 0;
}
#dnn_ThirdPane .secondary-content .Normal a{
	font-size: 11px;
	}
#dnn_ThirdPane .DnnModule-DNN_Quotes .secondary-content h3 {
	height: 5px !important;}


.ucol-news .articleImage, .article .articleImage {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.ucol-news {
  padding: 15px 0;
  border-top: 1px solid #c6c6c6;
}
.ucol-news h4 {
  font-size: #666;
  font-size: 10pt;
}
.ucol-news a {
  font-size: 9pt;
}
.ucol-news:first-child {
  border-top: none;
}
.ucol-news .articleLatestSummary {
  display: inline-block;
  width: 75%;
}
.ucol-news .articleLatestSummary a {
  display: block;
  padding-top: 3px;
}

.article {
  margin-bottom: 20px;
}
.article .articleSummary {
  display: inline-block;
  width: 86%;
}
.article .articleCategories {
  padding-bottom: 20px;
}
.career-cal {
	 border-bottom: 1px solid #c6c6c6;
	}
.career-cal, .ModEventsCalendarC, .ModEventsCalendarSatelliteC, .events {
  padding: 10px 0;
  position: relative;
}
.career-cal acronym, .ModEventsCalendarC acronym, .ModEventsCalendarSatelliteC acronym, .events acronym {
  width: 45px;
  height: 45px;
  margin: 0;
  position: absolute;
  display: inline-block;
  border: none;
  background: url("img/event_date.png") no-repeat;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 10pt;
  text-align: center;
  color: #f8f3d2;
}
.career-cal acronym span.calPubMonth, .ModEventsCalendarC acronym span.calPubMonth, .ModEventsCalendarSatelliteC acronym span.calPubMonth, .events acronym span.calPubMonth {
  display: block;
  padding: 5px 0 0;
  background-color: transparent;
}
.career-cal acronym span.calPubDate, .ModEventsCalendarC acronym span.calPubDate, .ModEventsCalendarSatelliteC acronym span.calPubDate, .events acronym span.calPubDate {
  font-size: 14pt;
  line-height: 80%;
}
.career-cal .title-desc, .career-cal .event_info, .ModEventsCalendarC .title-desc, .ModEventsCalendarC .event_info, .ModEventsCalendarSatelliteC .title-desc, .ModEventsCalendarSatelliteC .event_info, .events .title-desc, .events .event_info {
  width: 75%;
  padding-left: 60px;
  display: inline-block;
}
.career-cal span.ListTitle, .ModEventsCalendarC span.ListTitle, .ModEventsCalendarSatelliteC span.ListTitle, .events span.ListTitle {
  font-family: Georgia, "Times New Roman" serif;
  font-size: 10pt;
  display: block;
  text-transform: uppercase;
}
.career-cal span.ListEventDate, .ModEventsCalendarC span.ListEventDate, .ModEventsCalendarSatelliteC span.ListEventDate, .events span.ListEventDate {
  margin-left: 55px;
}
.career-cal div.ListContent, .ModEventsCalendarC div.ListContent, .ModEventsCalendarSatelliteC div.ListContent, .events div.ListContent {
  padding: 2px 0;
}

.career-cal span.ListTitle {
  margin-bottom: 1px;
  padding-bottom: 10px;
}

.ModEventsCalendarC .Normal, .ModEventsCalendarSatelliteC .Normal {
  padding: 20px 0 15px;
  position: relative;
}
.ModEventsCalendarC span.ListTitle, .ModEventsCalendarSatelliteC span.ListTitle {
  padding: 2px 0;
  margin-left: 55px;
}
.ModEventsCalendarC div.ListContent, .ModEventsCalendarC div.ListBtn, .ModEventsCalendarSatelliteC div.ListContent, .ModEventsCalendarSatelliteC div.ListBtn {
  margin-left: 55px;
}

.ModEventsCalendarC .Normal div.ListTitleRow {
  padding-top: 30px;
}

.events .Normal {
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.events .event_info {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 20px;
  position: relative;
  display: block;
}
.events div.ListTitleRow {
  width: 45px;
  height: 45px;
  position: absolute;
}
.events div.ListContent {
  word-wrap: break-word;
}

.cal-view-more {
  margin: 20px 0;
  display: block;
}
form .actionMenu ul {
z-index: 90 !important;
}

/** 
 * -------------------------------------------
 * Interior page styles
 * -------------------------------------------
 **/
.interior-head, .interior-container {
  width: 960px;
  margin: 0 auto;
  padding-top: 1px;
}
.interior-head .interior-content, .interior-container .interior-content {
  width: 920px;
  margin: 0 auto;
  overflow: visible;
}

.interior-head {
  height: 79px;
  background: url("img/int-content-top.jpg") repeat-x -6px 0px;
  overflow: overlay;
}
.interior-head .interior-header {
  padding: 20px 0 0;
  font-family: Oswald;
  color: #444444;
  font-size:28px;
  text-transform:uppercase;
}
.interior-head #interior-bar {
  width: 100%;
  height: 2px;
  margin: 8px 0 0;
  background: url("img/bar.png") repeat-x 0 0;
}

.interior-container {
  background: url("img/content_bg.jpg");
}

.interior-container > div {
  zoom: 1;
}
.interior-container > div:before, .interior-container > div:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.interior-container > div:after {
  clear: both;
}

.interior-body-type .Normal,
.interior-body-type-no-banner .Normal,
.interior-body-type-full-width .Normal,
.interior-body-type-wide .Normal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #444444;
}
.interior-body-type p,
.interior-body-type-no-banner p,
.interior-body-type-full-width p,
.interior-body-type-wide p {
  margin: 0 0 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.interior-body-type ul, .interior-body-type ol,
.interior-body-type-no-banner ul,
.interior-body-type-no-banner ol,
.interior-body-type-full-width ul,
.interior-body-type-full-width ol,
.interior-body-type-wide ul,
.interior-body-type-wide ol {
  margin: 10px 0;
  padding-left: 15px;
  list-style-position: inside;
}
.interior-body-type blockquote, .interior-body-type q,
.interior-body-type-no-banner blockquote,
.interior-body-type-no-banner q,
.interior-body-type-full-width blockquote,
.interior-body-type-full-width q,
.interior-body-type-wide blockquote,
.interior-body-type-wide q {
  margin: 0;
}
.interior-body-type h1,
.interior-body-type-no-banner h1,
.interior-body-type-full-width h1,
.interior-body-type-wide h1 {
  width: 100%;
  margin: 20px 0;
  padding: 5px 0 0;
  background: none;
  text-transform: none;
  font-size: 18pt;
  color: #444444;
}
.interior-body-type h2,
.interior-body-type-no-banner h2,
.interior-body-type-full-width h2,
.interior-body-type-wide h2 {
  margin: 15px 0 0px;
  padding-bottom: 5px;
  font-style: normal;
  font-size: 14pt;
  color: #444444;
}

.interior-body-type,
.interior-body-type-no-banner {
  width: 550px;
}

.interior-body-type {
  line-height: 1.5;
}

.interior-body-type-no-banner h2 {
  margin-top: 0;
}
.interior-body-type-no-banner h3 {
  margin-top: 5px;
}

.interior-body-type-full-width,
.interior-body-type-wide {
  width: 735px;
}

#interior-body {
  width: 735px;
  margin: 0 0 20px;
  float: right;
  zoom: 1;
}
#interior-body:before, #interior-body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
#interior-body:after {
  clear: both;
}
#interior-body #dnn_IntSecondaryContent {
  width: 170px;
  float: right;
}
#interior-body .caption, #interior-body .intSecondaryContent, #interior-body .secondary-content {
  width: 160px;
  margin-top: 10px;
  float: right;
}
#interior-body .caption h3, #interior-body .intSecondaryContent h3, #interior-body .secondary-content h3 {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}
#interior-body .caption ul, #interior-body .caption ol, #interior-body .intSecondaryContent ul, #interior-body .intSecondaryContent ol, #interior-body .secondary-content ul, #interior-body .secondary-content ol {
  margin: 0;
  padding: 0;
}
#interior-body .caption ul li, #interior-body .caption ol li, #interior-body .intSecondaryContent ul li, #interior-body .intSecondaryContent ol li, #interior-body .secondary-content ul li, #interior-body .secondary-content ol li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#interior-body .caption a, #interior-body .intSecondaryContent a, #interior-body .secondary-content a {
  padding: 2px 0;
  display: block;
}
#interior-body .caption {
  margin-top: 20px;
}
#interior-body .intSecondaryContent {
  margin-top: 10px;
}
#interior-body .intSecondaryContent img {
  width: 100% !important;
  height: auto !important;
  border: none;
}

#side-navigation {
  width: 170px;
  float: left;
}
#side-navigation .RadPanelBar {
  width: 170px;
}
#side-navigation .RadPanelBar .rpRootGroup {
  margin-bottom: 40px;
  border: none;
}
#side-navigation .RadPanelBar .rpHeaderTemplate, #side-navigation .RadPanelBar .rpOut {
  margin: 0;
  padding: 0;
  border: none;
}
#side-navigation .RadPanelBar .rpLink {
  border: none;
}
#side-navigation .RadPanelBar .rpItem {
  border-top: 1px #fff solid;
  border-bottom: 1px #ddd solid;
}
#side-navigation .RadPanelBar .rpFirst {
  border-top: none;
}
#side-navigation .RadPanelBar .rpLast {
  border-bottom: none;
}
#side-navigation .RadPanelBar .rpSlide {
  margin-left: 10px;
}
#side-navigation .RadPanelBar .rpSlide .rpItem {
  border-bottom: 1px solid #e2e2e2;
}
#side-navigation .RadPanelBar .rpSlide .rpItem.rpLast {
  border-bottom: none;
}
#side-navigation .RadPanelBar .rpSlide .rpItem a {
  margin: 0;
  padding: 5px 0;
  color: #555;
}
#side-navigation .RadPanelBar .rpText {
  margin: 0;
  padding: 5px 0;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12px;
  line-height: 1.2;
}
#side-navigation .rpText {
width: 150px;
}
#side-navigation a:link, #side-navigation a:visited, #side-navigation a:active {
  text-decoration: none;
}
#side-navigation a:hover {
  text-decoration: underline;
}

/** 
 * -------------------------------------------
 * General Table CSS
 * -------------------------------------------
 **/
#genTbl, .genTbl {
  margin: 10px 0px 30px 0px;
  width: 100%;
}
#genTbl th, .genTbl th {
  padding-bottom: 6px;
  padding-left:10px;
  border-bottom: 1px solid #d2d2d2;
  background: #f8f8f8;
  text-align: left;
  font-weight: bold;
  color: #990000;
}
#genTbl tr:nth-child(odd), .genTbl tr:nth-child(odd) {
  background: #d2d2d2;
}
#genTbl tr.oddrow, .genTbl tr.oddrow {
  background-color: #d2d2d2;
}
#genTbl td, .genTbl td {
  padding: 5px 10px 5px 10px;
  text-align: left;
}

.genTbl {
  border-bottom: 1px #d2d2d2 solid;
}

/** 
 * -------------------------------------------
 * People Roster CSS
 * -------------------------------------------
 **/
ul.roster {
  width: 550px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  zoom: 1;
}
ul.roster:before, ul.roster:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
ul.roster:after {
  clear: both;
}
ul.roster li {
  margin: 0px;
  padding: 0px;
  width: 275px;
  height: 200px;
  float: left;
  list-style: none;
}
ul.roster li img {
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
}
ul.roster li .rosterInformation {
  width: 160px;
  margin: 0;
  padding: 0 10px;
  float: left;
  display: inline;
}
ul.roster li .name, ul.roster li .title {
  width: 140px;
  margin: 0;
  padding: 0;
}
ul.roster li .name {
  font-size: 14px;
  font-weight: bold;
}
ul.roster li .title {
  font-size: 12px;
}

/** 
 * -------------------------------------------
 * Calendar CSS
 * -------------------------------------------
 **/
.ModEventsCalendarC {
  position: relative;
}

table.tblNavLinks {
  height: 27px;
  margin-left: 20px;
  margin-bottom: 20px;
  z-index: 100;
}
table.tblNavLinks td a.cal-left, table.tblNavLinks td a.cal-right {
  width: 27px;
  height: 27px;
  float: left;
  display: block;
}
table.tblNavLinks td a.cal-left:hover, table.tblNavLinks td a.cal-right:hover {
  background-position: bottom left;
}
table.tblNavLinks td a.cal-left {
  margin-left: 70px;
  background: url("img/cal-prev.png") top left no-repeat;
}
table.tblNavLinks td a.cal-right {
  background: url("img/cal-next.png") top left no-repeat;
}
table.tblNavLinks td input {
  margin-top: 2px;
}

table.evt {
  width: 100%;
  margin: 10px auto 0;
  background: transparent;
  border: none;
}
table.evt td {
  font-family: Arial, Helvetica, sans-serif;
}
table.evt td.evtDayHeader {
  padding: 8px 0;
  background: transparent;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 9pt;
  color: #787676;
}
table.evt td.evtDay {
  color: #787676;
  border: 1px solid #cfcfcf;
  height: 115px;
  padding: 3px 0 0 5px;
  font-size: 10pt;
  background: rgba(0, 0, 0, 0.04);
}
table.evt td.evtDay > a {
  padding: 2px 0 0 5px;
  text-decoration: none;
  font-size: 9pt;
}
table.evt td.evtWeekendDay {
  background: rgba(0, 0, 0, 0.04) !important;
  background-color: #ececec;
}
table.evt td.evtDayScroll {
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}
table.evt td.evtDayScroll a {
  font-size: 10pt;
}
table.evt td.evtDayScroll a:hover {
  text-decoration: underline;
}
table.evt td.evtSelDay {
  background: transparent;
  outline: 1px solid maroon;
}

span.evtTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: #444;
}

.evtBar {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.evtBar .evtbarBtn {
  padding: 0;
}
.evtBar a {
  height: 27px;
  display: block;
}
.evtBar a.btnTop {
  width: 63px;
  position: absolute;
  left: 0px;
  background: url("img/cal-today.png") bottom left no-repeat;
}
.evtBar a.btnTop:hover {
  background-position: top left;
}
.evtBar a.cal-month, .evtBar a.cal-agenda, .evtBar a.cal-week, .evtBar a.cal-day {
  float: left;
}
.evtBar a.cal-month:hover, .evtBar a.cal-agenda:hover, .evtBar a.cal-week:hover, .evtBar a.cal-day:hover {
  background-position: bottom left;
}
.evtBar a.cal-month, .evtBar a.cal-day {
  width: 63px;
}
.evtBar a.cal-agenda, .evtBar a.cal-week {
  width: 62px;
}
.evtBar a.cal-month {
  background: url("img/cal-month.png") top left no-repeat;
}
.evtBar a.cal-agenda {
  background: url("img/cal-agenda.png") top left no-repeat;
}
.evtBar a.cal-week {
  background: url("img/cal-week.png") top left no-repeat;
}
.evtBar a.cal-day {
  background: url("img/cal-day.png") top left no-repeat;
}

table.rcTable td a.rcCalPopup {
  margin-top: 2px;
}

table.dvTable {
  margin: 0 auto;
  border: 1px #d2d2d2 solid;
  border-collapse: collapse;
}
table.dvTable td.dvAllDay, table.dvTable td.dvEvent {
  background: #ddd;
  border: none;
}
table.dvTable td.dvTime, table.dvTable td.dvTime2 {
  border-right: 1px #d2d2d2 solid;
}
table.dvTable td.dvTime2 {
  border-bottom: 1px #d2d2d2 solid;
}
table.dvTable td.dvEvent {
  padding-left: 10px;
}
table.dvTable td.dvNoEvent {
  border-bottom: 1px #d2d2d2 solid !important;
}
table.dvTable td div.pop {
  font-size: 12px;
}

div.wvHeader {
  margin-top: 25px;
  margin-bottom: 5px;
  color: #6a6a6a;
}

/** 
 * -------------------------------------------
 * FAQ Styles
 * -------------------------------------------
 **/
.faq-question {
  width: 100%;
  padding: 5px 0 5px 5px;
  background-color: #E0E0E0;
  font-size: 9pt;
  font-weight: bold;
  color: #444;
}
.faq-question p {
  display: inline;
}

.faq-answer {
  width: 100%;
  margin-top: 10px;
  padding-left: 5px;
}
.faq-answer strong {
  display: block;
  font-weight: bold;
}

/*******************************
folio rotator css
*******************************/
.iupui-template-wrap, .uc-folio-rotator {
    overflow: hidden;
    width: 952px;
    height: 452px;
    position:relative;
}

#dnn_BannerPane .iupui-template-wrap .rotator-footer, #dnn_BannerPane .uc-folio-rotator .rotator-footer {
    position:absolute;
    bottom: 0px;
    z-index: 999;
    width: 952px;
    height: 30px;
    /*padding: 0 10px 0 0;*/
}
div.uc-folio-rotator div.rotator-footer {
  position: absolute;
	bottom: 0px;
	z-index: 999;
	width: 952px;
	height: auto !important;
	/*padding: 0 10px 0 0;*/
	background-image: url('img/rotate/80.png');
	background-repeat: repeat;
	/*padding: 10px 10px 10px 20px !important;*/
	color: #F8F3D2;
}

.uc-folio-rotator .title h1 {
	font: bold 13pt/9pt "Trebuchet MS", Arial, sans-serif;
}

.iupui-template-wrap .pagers, .uc-folio-rotator .pagers {
    float: right;
}
.iupui-template-wrap .pagers a, .uc-folio-rotator .pagers a {
	padding: 0;
	margin: 0 0 0 0;
	background: url('images/stagnate.png') no-repeat;
	color: transparent;
	display: inline-block;
	text-indent: -9999px;
	width: 7px;
}
.iupui-template-wrap .pagers a.activeSlide, .uc-folio-rotator .pagers a.activeSlide {
    background: url('images/selected.png') no-repeat;
}
.iupui-template-wrap .pagers .rotator-pager {
    margin: 8px 6px 0 0;
}
.uc-folio-rotator .pagers .rotator-pager {
	margin: 0;
}

#dnn_BannerPane{
position: relative;
border: 4px solid #f8f3d2;
width: 952px;
height: 452px;
outline: 1px solid #7d110c;}

div.desc a {
	color: #f8f3d2;
	text-decoration: underline;
}

div.desc span.noLinkUnder a{
    text-decoration:none;
}

div.title-desc-container {
	padding: 15px;
}
div.title-desc-container  div.title h1 {
	padding-bottom: 14px;
}

/*end folio*/

/*Content Pane Action Menu Fix*/
#dnn_ContentPane .c_footer{
    padding-bottom:20px;
}

#dnn_ContentPane .interior-body-type{
    float:none;
}

/*End Content Pane Action Menu Fix*/

/*------------------------------------------
			CALL TO ACTION BUTTON
--------------------------------------------*/
a.button {
	/*padding:8px;
	background-color: #7D1416;
	border: none;
	display:inline-block;

	color: white;
	text-align: center;
	font: 18px "benton";
	text-decoration:none;*/
	margin:0px 5px;
	padding: 10px 20px;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: none repeat scroll 0% 0% #A90533;
}

/* ON HOVER */

a.button:hover {
	/*background:#456A7D;
	color:white;*/
	background:rgb(219,55,101);
}

/*------------------------------------------
			END OF BUTTON
--------------------------------------------*/

/*----------- THIS IS THE UC FACULTY TABLE PARAMETERS-------- */
#theuctable {width:100%;}

/*SEARCH BAR */

#uc_search_Bar {float:left; 
padding-top:18px;}
/* END OF SEARCH BAR */


#faculty_members {float:left;
padding:20px;
font-size:18px;
width:auto;
position:static;

}
#contact_members {float:right;
padding:20px;
font-size:18px;

}
/* HEAD BANNER CONTAINING SEARCH BAR AND FACULTY AND CONTACT TEXT */

#faculty_head {
	background-color:#446A7D;
font-size:14px;
font-style:normal;
color: white;
	margin:0;
	padding:2px;
	height:50px;
width:100%;
alignment-adjust:baseline;
 border-bottom: 20px solid #F7F8F8;

	}
	
	/* END OF HEAD BANNER CONTAINING SEARCH BAR AND FACULTY AND CONTACT TEXT */


/*TABLE PARAMETERS */
#ucfaculty{
	font-family:"Georgia Pro";
	height:auto;
	position:static;
	width:100%;
	

}

#ucfaculty td{ width: 90%;
font-size: 13px;

background-color:#E7E8E9;
padding: 4px;
padding-right:20px;
height:auto;
vertical-align:middle;
 border-bottom: 20px solid #F7F8F8;
 position:;


	}
	
#ucfaculty  a:link{color:#7D110C;
	text-decoration:none;
	font-weight:bold;
	
	}
	#ucfaculty td a:hover {text-decoration:underline;
	color:#7D110C;
	
	font-weight:bold;
	}
	
	#ucfaculty td a:visited {
	color:#7D110C;
	font-weight:bold;
	}
	
#tbtext {   width: 120px;
    word-wrap: break-word;
	padding-left:0px;
	padding-right:10px;
	margin-bottom:10px;}

	 
	#ucfaculty img {padding:12px;
	float:left; }
	/* TABLE PARAMETERS */

	
/*-------------- THIS IS THE END OF UC FACULTY TABLE PARAMETERS---------------- */





/*TABLE PARAMETERS */
 #uc_directory{
	font-family:"Georgia Pro";
	height:auto;
	position:static;
	width:100%;
}
#uc_directory td {
	width: 90%;
	font-size: 13px;
	background-color:#E7E8E9;
	padding: 4px;
	padding-right:20px;
	height:auto;
	vertical-align:middle;
	border-bottom: 20px solid #FFF;
 position:;
}
#uc_directory a:link {

	color:#7D110C;
	text-decoration:none;
	font-weight:bold;
}
#uc_directory td a:hover {
	text-decoration:underline;
	color:#7D110C;
	font-weight:bold;
}
#uc_directory td a:visited {
	color:#7D110C;
	font-weight:bold;
}
#tbtext {
	width: 120px;
	word-wrap: break-word;
	float:left;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
}
#uc_directory img {
	padding:12px;
	float:left;
}
	/* TABLE PARAMETERS */

























/*-------------- Add Spacing between Form Labels and Form Inputs--------------- */

.DynamicForms_MainPanel .NormalTextBox {
margin-left: 20px;
}


/*--------------Format of Date Token for Copyright----------------------------*/
span.SkinObject{
	color: rgb(133, 131, 114);
	font-size: 8 pt;	
}
/******************CSS for Form and List on Resources Site *****************/

#dnn_ctr4507_Default_List_grdData td{
	padding-left:3px;
	padding-bottom:10px;
	padding-right:7px;
}
#dnn_ctr4507_Default_List_grdData th:nth-of-type(1){
	width:5px;	
}
#dnn_ctr4507_Default_List_grdData th:nth-of-type(2){
	width:12%;	
}
#dnn_ctr4507_Default_List_grdData th:nth-of-type(3){
	width:12%;	
}
#dnn_ctr4507_Default_List_grdData th:nth-of-type(5){
	width:15%;	
}

/******************Footer for interior pages*****************/

.footerInterior{
	border-top:6px solid rgb(239, 229, 198);
	height:100% !important;
	min-width:1040px !important;
	
	
}

.footerText{
	text-align:center;
	width:444px;	
	background: rgb(239,229,198);
	height:42px;
	line-height:42px;
	margin-left: 258px;
	position: absolute;
	margin-top:20px;
}

.footerText p{
	vertical-align:middle;
	color: rgb(139,7,5);
	font-size:24px;
}

.footer-links a{
	color: rgb(139,7,5) !important;
}

.footer-links a:hover{
	text-decoration:none !important;	
}

.footerInterior span.rmText:hover{
	text-decoration:none !important;
	border-color: rgb(139,7,5) !important;
}

/******************Footer for index pages*****************/

.footerIndex{
	border-top:6px solid rgb(139,7,5) !important;
	height:100% !important;	
	background: rgb(239,229,198) !important;
	min-width:1040px !important;
	
}

.footerTextIndex{
	text-align:center;
	width:444px;	
	background: rgb(139,7,5);
	height:42px;
	line-height:42px;
	margin: 0px auto;
}

.footerTextIndex p{
	vertical-align:middle;
	color: rgb(255,255,255);
	font-size:24px;
	position:absolute;
	margin-left:50px;
	min-width:350px; 
}

.footer-links a{
	color: rgb(139,7,5) !important;
}

.footerIndex #sub-navigation .rmItem{
	background: rgb(239,229,198);
}

.footerTextIndexWrapper{
	width:100%;
	min-width:1040px;
	margin-top: -24px;
}

.footerIndex .rmRootLink{
	background: rgb(239,229,198) !important; 	
}

.footerIndex #sub-navigation .RadMenu_Default .rmRootGroup{
	background-color: rgb(239,229,198) !important;
	border-color: rgb(239,229,198) !important;	
}

.footerIndex span.rmText:hover{
	text-decoration:none !important;
	border-color: rgb(139,7,5) !important;
}


