/** 
 * -------------------------------------------
 * Universal styles
 * -------------------------------------------
 **/
body{
	font: 13px Arial, Helvetica, sans-serif;
	color: #444444;
	background: #121212;
}
	
a:link, a:visited, a:active{
	color: #7d110c;
}
	
a:hover{
	color: #990000;
}

@include selection(#7d110c, #f8f3d2);

.container{
	width: 960px;
	padding: 0 40px;
	margin: 0 auto;
}

.left{
	@include left();
}
	
.right{
	@include right();
}

.c_footer{
	@include clearfix;
}
		
.hide-element{
	@include hide;
}