#dnn_BannerPane, #dnn_IntBanner{
 	height:auto;
 	position:relative;
 	overflow:visible;
 	.iupui-template-wrap{
 		position:relative;
 		.info{
 			height:auto;
			position:absolute;
		}
		.desc{
			h1,h2,h3,p,a{
				color:#f8f3d2;
			}
		}
 	}
 	.rotate-header-1{
		padding:15px;
		background: #990000;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#7d110c');
		background: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#7d110c));
		background: -moz-linear-gradient(top,  #990000,  #7d110c);
		h1{
			width: 100%;
			height: auto;
			margin: 0 0 10px 0;
			display: block;
			background: none;
			text-transform: none;
			line-height: 16pt;
			font-weight: normal;
			font-size: 16pt;
			color: #f8f3d2;
		}
	}
	.rotate-header-2{
		margin-top: 5px;
		padding:10px 15px;
		background-image: url('img/rotate/80.png');
		background-repeat: repeat;
		background: rgba(0,0,0,0.75);
		border-left: 5px solid #7d110c;
		color: #f8f3d2;
		h1{
			width: 100%;
			height: auto;
			margin: 0 0 10px 0;
			padding-top: 5px;
			background: none;
			border-bottom: 1px solid;
			font: bold 13pt/9pt "Trebuchet MS", Arial, sans-serif;
		}
	}
	.rotater-footer{
		width:952px;
	}
}


#dnn_BannerPane{
	width:960px;
	height: auto;
	.iupui-template-wrap{
		width:952px;
 		border:4px #f8f3d2 solid;
 		.info, .desc{
 			width:450px;
 		}
 		.info{
 			top: 70px;
 			left: 435px;
 		}
	}
}

#dnn_IntBanner{
	width: 735px;
	height: auto;
	.iupui-template-wrap{
		width: 735px;
		border: none;
		.info, .desc{
 			width: 335px;
 		}
		.info{
			top: 50px;
			left: 335px;
		}
	}
}
