/** 
 * -------------------------------------------
 * Calendar Base styles
 * -------------------------------------------
 **/
#dnn_Calendar{
	width: 736px;
	float: left;
	padding-left: 7px;}
td.evtDayHeader{
	font: bold 8pt Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 5px;
	background-color: transparent;
	color: #9e9c9c;}
td.evtDay{
	color: #9e9c9c;
	border: 1px solid #cfcfcf;
	height: 115px;
	padding: 3px 0 0 5px;
	font-size: 9pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(0,0,0,.02);}
td.evtWeekendDay{
	background: rgba(0,0,0,.05) !important;
	background-color: rgb(236,236,236); /* FOR IE */
}
td.evtDay a{
	text-decoration: underline;
	padding: 0;
	font-weight: regular;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;}
td.evtDay a:hover{
	font: regular 9pt Arial, Helvetica, sans-serif;}
td.evtSelDay{
	background: transparent;
	outline: 1px solid #990000;}
table.evt{
	background-color: transparent;
	border: none;}
td.evtDay a.evtDayLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	background: transparent;
}
a.evtDayLink {
	background: transparent;
}
div.evtDayScroll{
	padding-left: 0;
	padding-top: 4px;}
td.evtOtherMonDay  a, td.evtOtherMonDay a:hover{
	background-color: transparent;}
td.evtOtherMonDay{
	background: rgba(0,0,0,.05) !important;
	background-color: rgb(236,236,236); /* FOR IE */
}
table.tblNavLinks { /* FOR FIXING SPACING ISSUES WITH NAV AND CAL IN IE */
	margin-bottom: 20px;
}
div.pop, div.pop div a:hover{
	color: #7d110c;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;}
div.pop div a:hover{
	color: #990000;}
ul.calendar-visibility{
	color: #999999;
	margin-top: 25px;}
ul.calendar-visibility li{
	display: inline;
	list-style: none;
	padding: 10px;}
ul.calendar-visibility li:first-child{
	padding-left: 0;}
ul.calendar-visibility li a{
	font-size: 9pt;
	font-weight: bold;}
div.calendar-list span{
	float: left;}
span.Cal-EventTitle a img{
	height:12px; width: 12px;}
span.Cal-EventTitle{
	padding-bottom:10px;}
span.Cal-EventDate{
	width: 145px;}
span.Cal-EventDate a, span.Cal-EventTitle a{
	font: bold 10pt Arial, Helvetica, sans-serif;}
div.Cal-EventInfo{
	float: left;
	width: 480px;}
span.Cal-EventVenue, span.Cal-LongTime, span.Cal-Description, span.Cal-Readmore{
	clear: left;}
span.Cal-EventTime{
	width: 90px;
	height: 12px;
	color: #6a6a6a;
	font: 9pt Arial, Helvetica, sans-serif;}
div.calendar-list{
	padding: 10px 0;}
span.Cal-EventVenue, span.Cal-LongTime{
	font: bold 9pt Arial, Helvetica, sans-serif;
	color: #666;}
span.Cal-LongTime{
	padding-bottom: 7px;}
span.Cal-Description{
	font: 10pt Arial, Helvetica, sans-serif;
	color: #666;
	padding: 0 10px 0 0;}
span.Cal-ReadMore{
	padding-bottom: 10px;}
h2.trigger{
	margin: 0 5px 10px 0;
	padding: 0 0 0 16px;
	background: url('img/colexp.png') no-repeat;
	height:16px;
	display: block;
	float: left;
	font: bold 10pt Arial, Helvetica, sans-serif;}
h2.trigger a{
	overflow: hidden;
	display: block;}
h2.active{
	background-position: left bottom;}
.Cal-display{
	margin-left: 251px;
	clear: left;}
div.wvHeader{
	font: bold 8pt Arial, Helvetica, sans-serif;
	color: #8e8e8e;
	margin-left: 60px;
	margin-top: 20px;}
td.dvAllDay div.pop div{
	font: bold 9pt Arial, Helvetica, sans-serif;
	border: 1px solid #d2d2d2;
	padding: 5px;}
td.dvAllDay{
	border-bottom: none;}
td.dvAllDay:first-child{
	width: 61px;}
td.dvtime2{
	border-right: 0;
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;}
table.dvtable{
	border: 0;}
tr td.dvNoEvent{
	border-color: #d2d2d2 !important;}
td.dvEvent div.pop div{
	font: bold 9pt Arial, Helvetica, sans-serif;
	padding: 1px 0 0 5px;}
td.dvTime{
	font-family: Arial, Helvetica, sans-serif;
	text-transform: lowercase;
	font-size: 8pt;
	padding: 3px 5px 0 0;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;}
td.dvEvent{
	background: url('img/10.png');}
.cal-left{
	background: url('img/cal-prev.png');
	width: 27px;
	height: 27px;
	display: block;
	float: left;
	margin-left: 70px;}
.cal-right{
	background: url('img/cal-next.png');
	width: 26px;
	height: 27px;
	display: block;
	float: left;}
.cal-left:hover, .cal-right:hover{
	background-position: bottom left;}
.disp-test{
	position: absolute;
	left: 50%;
	margin-left: -277px;
	
	height: 27px;
	width: 63px;
	display: block;
	background-position: bottom left;}
.disp-test a{
	display: block;
	width: 63px;
	height: 27px;
	background: url('img/cal-today.png');}
.disp-test:hover{
	background-position: top left;}
span.evtTitle{
	font: bold 9pt Arial, Helvetica, sans-serif;
	color: #666;}

/** 
 * -------------------------------------------
 * Calendar Detailed View styles
 * -------------------------------------------
 **/
div.DetailTitleRow {
	font: 10pt Georgia, sans-serif;
	color: #666666;
}
span.DetailTitle {
	display: block;
	font-weight: bold;
	font-size: 11pt;
	color: #7d110c;
	padding-top: 64px;
}
span.DetailVenue {
	display: block;
	color: #7d110c;
}
span.DetailEventDate {
	display: block;
}
span.DetailVenue {
	padding-top: 10px;
}
span.DetailVenue a {
	text-decoration: underline;
}
span.DetailEventDate {
	padding-bottom: 5px;
	padding-top: 10px;
}
span.DetailEventTime {
	display: block;
}
div.DetailContent {
	font: 10pt Georgia, sans-serif;
	color: #666666;
	width: 596px;
}
span.DetailExportReturn {
	font: 10pt Georgia, sans-serif;
	color: #7d110c;
}
div.DetailBorder {
	border-bottom: 1px solid #d2d2d2;
	width: 131px;
}
div.DetailBorderBtm {
	border-bottom: 1px solid #d2d2d2;
	width: 159px;
}
div.DetailBorder, div.DetailBorderBtm {
	margin: 14px 0;
}
div.backBtnCont {
	position: relative;
}
span.backbtn {
	position: absolute;
	top: 0;
	left: 70px;
	display: block;
	width: 36px;
	height: 27px;
	background: url('img/BackButton.png');
	background-position: top left;
}
span.backbtn:hover {
	background-position: bottom left;
}