/** 
 * -------------------------------------------
 * Calendar CSS
 * -------------------------------------------
 **/
 #dnn_Calendar{
 	table.evt{
		width: 98%;
		margin: 0 auto;
		background: transparent;
		border: none;
		td{
			font-family: Arial, Helvetica, sans-serif;
			&.evtDayHeader{
				padding: 2px 0;
				background: transparent;
				border: none;
				text-align: center;
				font-weight: bold;
				font-size: 8pt;
				color: darken(#9e9c9c, 15%);
			}
			&.evtDay{
				color: darken(#9e9c9c, 15%);
				border: 1px solid #cfcfcf;
				height: 115px;
				padding: 3px 0 0 5px;
				font-size: 9pt;
				// font-weight: bold;
				background: rgba(0,0,0,.02);
				&>a{

					padding: 2px 0 0 5px;
					text-decoration: none;
					// font-weight: bold;
					font-size: 9pt;
					
				}
			}
			&.evtWeekendDay{
				background: rgba(0,0,0,.02) !important;
				background-color: rgb(236,236,236);
			}
			&.evtDayScroll{
				padding: 0;
				font-weight: normal;
				text-decoration: none;
				a{
					font-size: 10pt;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			&.evtSelDay{
				background: transparent;
				outline: 1px solid darken(#990000, 5%);
			}
		}
 	}
 }

 td.evtDay a{
	}