/** 
 * -------------------------------------------
 * Campus Emergency Alert Message
 * -------------------------------------------
 **/
.campus_status_messages {
	color: #858372;
	font-family: Arial, Georgia, sans-serif;
	font-size: .8em;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.campus_status_messages a {
	color: #858372;
	text-decoration: underline;
}
.campus_status_messages a img {
	border: none;
}
.campus_status_messages-normal {
	background: url(/Portals/_default/Skins/UniversityCollege/img/alert.png) 462px 20px no-repeat;
	background-color: #f8f3d2;
	margin: 0 auto;
}
.campus_status_messages-advisory {
	background: url(/Portals/_default/Skins/UniversityCollege/img/alert.png) 462px 20px no-repeat;
	background-color: #f8f3d2;
	margin: 0 auto;
}
.campus_status_messages-alert {
	background: url(/Portals/_default/Skins/UniversityCollege/img/alert.png) 462px 20px no-repeat;
	background-color: #f8f3d2;
	margin: 0 auto;
}
.campus_status_messages-emergency {
	background: url(/Portals/_default/Skins/UniversityCollege/img/alert.png) 462px 20px no-repeat;
	background-color: #f8f3d2;
	margin: 0 auto;
}
.campus_status_messages .large,
.campus_status_messages .cmpstat_large {
	min-height: 90px;
	text-align: left;
}
.campus_status_messages .cmpstat_custom-large {
	left: 562px;
	min-height: 90px;
	position: relative;
	top: 0;
}
.campus_status_messages .cmpstat_custom-large h4 {
	color: #990000;
	float: left;
	font-family: "Trade Gothic LT Std", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16pt;
	height: auto;
	line-height: 1;
	padding: 38px 30px 0 0;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
.campus_status_messages .large img,
.campus_status_messages .cmpstat_large img {
	display: none;
	float: left;
}
.campus_status_messages .large.green,
.campus_status_messages .cmpstat_custom-large.green,
.campus_status_messages .cmpstat_large.cmpstat_green {
	background-color: #f8f3d2;
}
.campus_status_messages .large.yellow,
.campus_status_messages .cmpstat_custom-large.yellow,
.campus_status_messages .cmpstat_large.cmpstat_yellow {
	background-color: #f8f3d2;
}
.campus_status_messages .cmpstat_custom-large.cmpstat_yellow {
	color: #858372;
}
.campus_status_messages .large.yellow a,
.campus_status_messages .cmpstat_custom-large.yellow a,
.campus_status_messages .cmpstat_custom-large.cmpstat_yellow a,
.campus_status_messages .cmpstat_large.cmpstat_yellow a {
	color: #858372;
}
.campus_status_messages .large.orange,
.campus_status_messages .cmpstat_custom-large.orange,
.campus_status_messages .cmpstat_large.cmpstat_orange {
	background-color: #f8f3d2;
}
.campus_status_messages .large.red,
.campus_status_messages .cmpstat_custom-large.red,
.campus_status_messages .cmpstat_large.cmpstat_red {
	background-color: #f8f3d2;
}
.campus_status_messages .large p,
.campus_status_messages .cmpstat_custom-large p,
.campus_status_messages .cmpstat_large p {
	float: left;
	font-size: 10pt;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 29px 0 0 0;
	text-align: left;
}