/** 
 * ---------------------------------------------------
 * Barbara D. Jackson OFYSA Award 2012 Nomination Form
 * ---------------------------------------------------
 **/
div.DnnModule.DnnModule-DynamicForms.DNnModule-14874 div.interior-body-type {
	font: 12pt Arial, Helvetica, sans-serif;
}
.nomineeInfo {
	text-decoration: underline;
	display: block;
	padding: 0 0 0 0;
}
.nominatorInfo {
	text-decoration: underline;
	display: block;
}

td#dnn_ctr14874_DynamicForms_Cell_268727f3-8365-4b91-9467-a28241683172 {
	width: 199px;
	padding: 0;
	margin: 0;
}
table.DynamicForms_QuestionTable {
	border-collapse: separate;
}

.DynamicForms_Label {
	font-weight:bold;
}

.DynamicForms_CheckBoxList td {
	padding:10px 0px 10px 0px;
}

/** 
 * -------------------------------------------------
 * Application Needs for Summer Work Initiative Form
 * -------------------------------------------------
 **/
span.fundingReqLabelBold {
	font-weight: bold;
}
table.fundingReqCheckBoxField {
	margin-top: 10px;
}
span.fundingReqNotice {
	color: #990000;
	display: block;
}
.fundingReqLabel {
	display: block;
}

/** 
 * -------------------------------------------
 * Summer Work Initiative Funding Request Form
 * -------------------------------------------
 **/
a.DynamicForms_Link {
	display: none;
}

/** 
 * -------------------------------------------
 * Dynamic Forms
 * -------------------------------------------
 **/
.questionCell {
	font-weight:bold;
	font-size:14px;
	vertical-align:text-top;

}
.questionStyle {
	padding-top:10px;
	padding-bottom:10px;
	vertical-align:text-top;

}