/** 
 * -------------------------------------------
 * Homepage Content CSS
 * -------------------------------------------
 **/
.main-body{
	background: #f2f2f2 url('img/content_bg.jpg');
	.container{
		background: url('img/content_bg_top.jpg') no-repeat 0 0;
	}
}

#dnn_NotificationPane{
	display: none;
}

#dnn_FirstPane, #dnn_SecondPane, #dnn_ThirdPane{
	margin-top: 25px;
	float:left;
	h2{
		padding-bottom: 0;
	}
	ol,ul{
		font-size: 10pt;
		line-height: 16px;
		list-style-position: outside;
		padding: 0 0 15px 15px;
	}
}

#dnn_FirstPane, #dnn_SecondPane{
	width: 320px;
	margin-right: 40px;
}
	
#dnn_ThirdPane{
	width: 240px;
	margin: 18px 0 20px 0;
}

.ucol-news{
	padding: 15px 0;
	border-top: 1px solid #c6c6c6;
	h4{
		font-size:#666;
		font-size:10pt;
	}
	a{
		font-size:9pt;
	}
	&:first-child{
		border-top:none;
	}
	.articleImage {
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
	}
	.articleLatestSummary {
		display: inline-block;
		width: 75%;
		a{
			float:left;
			display: block;
			padding-top: 10px;
		}
	}
}

.career-cal{
	padding: 10px 0;
	acronym{
		width: 45px;
		height: 45px;
		margin: 0 15px 0 0;
		position:relative;
		display: inline-block;
		border: none;
		background: url('img/event_date.png') no-repeat;
		font-family: Georgia, "Times New Roman", serif;
		font-weight:normal;
		font-style: italic;
		font-size:10pt;
		text-align: center;
		color: #f8f3d2;
		top:-30px;
		span.calPubMonth {
			display: block;
			padding: 5px 0 0;
			background-color: transparent;
		}
		span.calPubDate{
			font-size: 14pt;
			line-height: 80%;
		}
	}
	.title-desc{
		width:75%;
		display:inline-block;
	}
	span.ListTitle{
		margin-bottom: 1px;
		padding-bottom: 10px;
		font-family:Georgia, "Times New Roman" serif;
		font-size:10pt;
		float:left;
		text-transform: uppercase;
	}
}
.cal-view-more{
	margin:20px 0;
	display:block;
}