/** 
 * -------------------------------------------
 * Legacy Initiative
 * -------------------------------------------
 **/
a.SubHead img {
	display: none;
}
p.donateAmount {
	margin: 0;
	padding-bottom: 10px;
}
a.SubHead h4 {
	margin: 0;
}