/** 
 * -------------------------------------------
 * Professional Connection Central
 * -------------------------------------------
 **/
div.breadCrumbs {
	font: 8pt Arial, sans-serif;
	color: #8e8e8e;
	display: inline;
}
div.breadCrumbs a {
	font: 9pt Arial, sans-serif;
	font-weight: normal;
	text-decoration: underline;
}
div.breadCrumbs a:last-child {
	font-style: italic;
	color: #8e8e8e;
	text-decoration: none;
}
div.divSort {
	display: inline;
	float: right;
}
span.SubHead {
	font: 9pt Arial, sans-serif;
	color: #666666;
}
div.separate {
	border-bottom: 1px solid #d2d2d2;
	margin: 10px 0 0 0;
}
div.photo-frame {
	float: left;
}
div.PCC_Content {
	float: left;
	font: 10pt Georgia, sans-serif;
	color: #7d110c;
	margin: 0 0 20px 20px;
}
div.PCC_Wrap {
	margin: 0 0 20px 0;
}
span.name {
	display: block;
	font-size: 11pt;
}
span.name a:hover {
	text-decoration: underline;
}
span.email {
	display: block;
	color: #666666;
	margin: 5px 0;
}
span.email span {
	color: #666666;
}
span.companyName {
	display: block;
	color: #333333;
	margin: 10px 0;
}
span.companyName span {
	color: #666666;
}
span.hometown {
	display: block;
	color: #333333;
	margin: 20px 0 10px 0;
}
span.hometown span {
	color: #666666;
}
span.companyLocation {
	display: block;
	color: #333333;
	margin: 10px 0;
}
span.companyLocation span {
	color: #666666;
}
span.jobTitle {
	display: block;
	color: #333333;
	margin: 10px 0;
}
span.jobTitle span {
	color: #666666;
}
table#dnn_ctr14259_Default_ViewType_dlProperty tbody tr  td{
	border-bottom: 1px solid #d2d2d2;
	padding-top: 20px;
}
table#dnn_ctr14259_Default_ViewType_dlProperty tbody tr td:first-child {
	
}
table#dnn_ctr14259_Default_ViewType_dlProperty tbody tr td:last-child {
	border: none;
	padding-top: 0px;
	margin-bottom: 10px;
}
div.PCC_footer {
	padding-top: 10px;
}
div.page {
	display: inline;
	font: 8pt Arial, sans-serif;
	color: #666;
}
div.pageNav {
	float: right;
	font: 8pt Arial, sans-serif;
	color: #666;
}
a.CommandButton:link {
	color: #7d110c;
}
div.pageNav a.CommandButton:hover {
	color: #7d110c;
	text-decoration: underline;
}
div.pageNav a.CommandButton:visited {
	color: #7d110c;
}
div.pageNav a.CommandButton:first-child {
	background: url(img/FirstPageNav.png) no-repeat 0 0;
	color: transparent;
	width: 10px;
	height: 7px;
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
}
div.pageNav a.CommandButton:nth-child(2) {
	background: url(img/PreviousPageNav.png) no-repeat 0 0;
	color: transparent;
	width: 6px;
	height: 7px;
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
}
div.pageNav a.CommandButton:nth-last-child(-n+2) {
	background: url(img/NextPageNav.png) no-repeat 0 0;
	color: transparent;
	width: 6px;
	height: 7px;
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
}
div.pageNav a.CommandButton:last-child {
	background: url(img/LastPageNav.png) no-repeat 0 0;
	color: transparent;
	width: 10px;
	height: 7px;
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
}