/** 
 * -------------------------------------------
 * Print Styles
 * -------------------------------------------
 **/
@media print {
	.footer{display:none;}
	.masthead-interior{background-color:#FFF !important;}
	.masthead{background-color:#FFF !important;filter:none}
	
}