/** 
 * -------------------------------------------
 * Faculty Directory Table
 * -------------------------------------------
 **/
#facDirTbl th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 6px;
	text-align: left;
}
#facDirTbl td:first-child {
	padding: 0 10px 0 2px;
}
#facDirTbl td:nth-child(2) {
	padding: 0 10px 0 0;
}
#facDirTbl td:nth-child(3) {
	width: 150px;
}
#facDirTbl td:nth-child(4) {
	padding: 0 20px 0 0;
	width: 70px;
}
#facDirTbl td:last-child {
	padding: 0 2px 0 0;
}
#facDirTbl td {
	height: 30px;
	text-align: left;
}
#facDirTbl tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#facDirTbl tr.oddRow {
	background-color: #d2d2d2;
}
#facDirTbl td + td + td + td {
	padding-right: 20px;
	width: 70px;
}

/** 
 * -------------------------------------------
 * General Table styles
 * -------------------------------------------
 **/
#genTbl {
	margin:10px 0px 15px 0px;
	width:100%;
}

#genTbl th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 6px;
	text-align: left;
}

#genTbl td {
	text-align: left;
	padding: 5px 10px 5px 10px;
}
#genTbl tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#genTbl tr.oddRow {
	background-color: #d2d2d2;
}
#genTbl td + td + td + td {
	padding-right: 20px;
	width: 70px;
}

/** 
 * -------------------------------------------
 * People Roster
 * -------------------------------------------
 **/
ul.roster{
	list-style:none;
	margin:0;
	padding:0; 
	padding-left:0px; 
	width:550px;
	li {
		padding:0;
		width:275px;
		height:120px;
		float:left;
		margin:0px;
		padding:0;
		list-style:none;
		img{
			width:75px;
			height:75px;
			display:inline;
			float:left;
			margin:0px;
			padding:0px;	
		}
	}
}

.rosterInformation {
	display:inline;
	float:left;
	margin:0;
	padding:0 10px 0 10px;
	width:160px;
}

p.name {
	font-size:14px;
	font-weight:bold;
	margin: 0;
	padding: 0;
}

p.title {
	font:10px;
	margin:0;
	padding:0;
}


/** 
 * -------------------------------------------
 * Building Hours Table
 * -------------------------------------------
 **/
table#bldHrs.main {
	width: 100%;
}

table.subTbl {
	float: left;
	width: 362px;
}
#bldHrsMAC.subTbl {
	margin: 20px 10px 0 0;
}
#bldHrsAAH.subTbl {
	margin: 20px 0 60px 0;
}
#bldHrsACD.subTbl {
	margin: 20px 10px 0 0;
}
#bldHrsBLC.subTbl {
	margin: 20px 0 30px 0;
}
#bldHrsCCW.subTbl {
	margin: 20px 10px 0 0;
}
#bldHrsOSE.subTbl {
	margin: 20px 0 0 0;
}
#bldHrs.main td {
	width: 367px;
}
.subTbl td {
	width: 173px;
}
#bldHrs th,.subTbl th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	height: 30px;
	text-align: left;
}
#bldHrs td:first-child,
.subTbl td:first-child {
	padding: 0 0 0 2px;
}
#bldHrs td,
.subTbl td {
	height: 32px;
	text-align: left;
}
#bldHrs tr:nth-child(odd),
.subTbl tr:nth-child(odd) {
	background-color: #d2d2d2;
}
table#bldHrs tr.oddRow { 
	background-color: #d2d2d2;
}
table.subTbl tr.oddRow { 
	background-color: #d2d2d2;
}

/** 
 * -------------------------------------------
 * BLC SI Hours Table
 * -------------------------------------------
 **/
table#blc-si {
	width: 550px;
}
#blc-si td:first-child {
	padding: 0 0 0 2px;
	width: 127px;
}
#blc-si td:nth-child(2) {
	padding-right: 1px;
	width: 167px;
}
#blc-si td:nth-child(3) {
	padding-right: 1px;
	width: 117px;
}
#blc-si td:nth-child(4) {
	width: 135px;
}
#blc-si td:last-child {
	padding-right: 4px;
}
#blc-si th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	height: 30px;
	text-align: left;
}
#blc-si td {
	height: 30px;
	text-align: left;
}
#blc-si tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#blc-si tr.oddRow {
	background-color: #d2d2d2;
}

/** 
 * -------------------------------------------
 * Free Department Tutoring Table
 * -------------------------------------------
 **/
table#deptTutoring {
	font-size: 0.9em;
	width: 100%;	
}
#deptTutoring td {
	border-right: 1px solid #444;
	padding: 4px 4px;
	text-align: left;
}
#deptTutoring td:first-child {
	width: 105px;
}
#deptTutoring td:nth-child(2) {
	width: 90px;
}
#deptTutoring td:nth-child(3) {
	width: 90px;
}
#deptTutoring td:nth-child(4) {
	width: 90px;
}
#deptTutoring td:nth-child(5) {
	width: 90px;
}
#deptTutoring td:nth-child(6) {
	width: 90px;
}
#deptTutoring td:nth-child(7) {
	width: 90px;
}
#deptTutoring td:last-child {
	border: none;
	width: 90px;
}
#deptTutoring th {
	border-bottom: 1px solid #444;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: left;
}
#deptTutoring tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#deptTutoring tr.oddRow {
	background-color: #d2d2d2;
}

/** 
 * -------------------------------------------
 * IUPUI Major Profiles Table
 * -------------------------------------------
 **/
div.tabCont {
	width: 550px;
}
table#majProf {
	width: 270px;
}
table#majProf.tab1 {
	float: left;
	margin-right: 10px;
}
table#majProf.tab2 {
	float: left;
}
#majProf th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: left;
}
#majProf td {
	height: 34px;
	padding: 0 2px;
}
#majProf tr:nth-child(even) {
	background-color: #d2d2d2;
}
#majProf tr.evenRow {
	background-color: #d2d2d2;
}
div.link a {
	float: left;
	padding-top: 10px;
}

/** 
 * -------------------------------------------
 * IUPUI Mentoring Bulletin Table
 * -------------------------------------------
 **/
table#mentBulletin {
	width: 100%;
}
#mentBulletin th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 6px;
	text-align: left;
}
#mentBulletin td {
	height: 30px;
	padding: 0 2px;
	width: 50%;
}
#mentBulletin tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#mentBulletin tr.oddRow {
	background-color: #d2d2d2;
}

/** 
 * -----------------------------------------------------------
 * National Learning Communities Conference Overview Table
 * -----------------------------------------------------------
 **/
table#nlccTable {
	margin-bottom: 20px;
	width: 100%;
}
#nlccTable th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 6px;
	text-align: left;
}
#nlccTable tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#nlccTable tr.oddRow {
	background-color: #d2d2d2;
}
#nlccTable td {
	height: 30px;
	padding: 0 2px;
	width: 50%;
}

/** 
 * -------------------------------------------
 * NLCC Registratino Table
 * -------------------------------------------
 **/
table#nlccRegistrationTable {
	margin-bottom: 20px;
	width: 100%;
}
#nlccRegistrationTable th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 6px;
	text-align: left;
}
#nlccRegistrationTable tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#nlccRegistrationTable tr.oddRow {
	background-color: #d2d2d2;
}
#nlccRegistrationTable td {
	height: 32px;
	padding: 4px 2px;
}
#nlccRegistrationTable em {
	font-size: 9pt;
}

/** 
 * -------------------------------------------
 * Scholar Days / College Visits Table
 * -------------------------------------------
 **/
table#SchlrDaysTbl {
	width: 100%;
	margin-bottom: 10px;
}
#SchlrDaysTbl th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 6px;
	text-align: left;
}
#SchlrDaysTbl tr:nth-child(odd) {
	background-color: #d2d2d2;
}
#SchlrDaysTbl tr.oddRow {
	background-color: #d2d2d2;
}
#SchlrDaysTbl td {
	height: 32px;
	padding: 4px 2px;
}

/** 
 * -------------------------------------------
 * Externship Timeline Table
 * -------------------------------------------
 **/
table.exTimelineTbl {
	width: 100%;
	margin: 20px 0;
}
.exTimelineTbl th {
	border-bottom: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	color: #990000;
	font-weight: bold;
	padding-bottom: 6px;
	text-align: left;
}
.exTimelineTbl tr:nth-child(odd) {
	background-color: #d2d2d2;
}
.exTimelineTbl tr.oddRow {
	background-color: #d2d2d2;
}
.exTimelineTbl td {
	height: 32px;
	padding: 4px 2px;
	width: 50%;
}