/** 
 * -------------------------------------------
 * Topbar styles
 * -------------------------------------------
 **/
.topbar{
	background: #121212;
	border-bottom: 2px solid #b0b2b4;
	width: 100%;
	min-width: 1200px;
}
	
.topbar .container a{
	display: block;
	background: url('img/iupui_wordmark.png') no-repeat 0 14px;
	height: 45px;
	width: 410px;
}