/**
 * -------------------------------------------
 * Navigation CSS
 * -------------------------------------------
 **/
 #navigation{
	height: 34px;
	clear:both;
	.RadMenu{
		float:none;
	}
	.RadMenu_Default{
		ul{
			@include clearfix;
		}
		.rmlink{
			font-family:Arial, Helvetica, sans-serif;
			font-weight:bold;
		}
		.rmRootGroup{
			border: none;
			background: transparent;
			font-size: 15px;
		}
	}
	span.rmText{
		margin: 0;
		padding:0;
		&:hover{
			border-bottom: 2px solid #f8f3d2;
		}
	}
	li{
		a{
			margin: 0 5px;
			padding: 0 10px;
			cursor:pointer;
			font-family:Arial, Helvetica, sans-serif;
			font-weight:bold;
			font-size: 15px;
			display:block;
			&:link, &:visited{
				color: #f8f3d2;
				text-decoration: none;
			}
		}
		.rmItem{
			span.rmExpandRight{
				position:relative;
				left:0px;
				background: url('img/dropdown-right.png') no-repeat 180px 2px;
			}
		}
		.rmFirst, &.rmFirst a{
			margin-left: 0;
			padding-left: 0;
		}
	}
}

#navigation{
	.RadMenu_default{
		.rmRootGroup, .rmLink,
		.rmGroup .rmText, .rmVertical .rmText,
		.rmLeftArrow, .rmRightArrow, .rmTopArrow, .rmBottomArrow{
			background-image: none;
			background: transparent;
		}
	}
	.rmSlide{
		overflow-x: visible;
		overflow-y: visible;
	}
	ul.rmGroup{
		background: #f8f3d2;
		padding: 5px 20px;
		margin: 10px 0 0;
		border: 1px solid #7d110c;
		border-top: none;
		.rmItem{
			padding: 0;
		}
		span.rmText:hover{
			border: none;
			color: #7d110c;
		}
	}
	.rmItem{
		ul.rmLevel2, ul.rmLevel3{
			border: 1px solid #7d110c;
			margin: -6px 0 0 25px;
			padding-top: 5px;
		}
		a{
			white-space: pre-line;
		}
	}
}


#navigation ul.rmGroup
{
	li{
		&.rmFirst > a{
			border-top: none !important;
		}

		&.rmLast > a{
			border-bottom:none !important;
		}
	}
	a{
		width: 190px !important;
		margin: 0;
		padding: 10px 0;
  		display: block;
  		font-size: 9pt;
		color: #858372;
  		text-shadow: 0px 1px 0px #ffffff;
		border-bottom: 1px solid #adaa93;
		border-top: 1px solid #fcf9e9;
	}

}



















