/** 
 * -------------------------------------------
 * Topbar CSS
 * -------------------------------------------
 **/
.topbar{
	background: #121212;
	border-bottom: 2px solid #b0b2b4;
	width: 100%;
	min-width: 1040px;
	.container{
		a{
			width: 410px;
			height: 45px;
			display: block;
			background: url('img/iupui_wordmark.png') no-repeat 0 14px;
		}
	}
}