/** 
 * -------------------------------------------
 * JagJobs XML Feed CSS
 * -------------------------------------------
 **/
#DNN_Feed{
	padding-top: 10px;
}

.DNN_Feed_Item{
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
	display: none;
	border-bottom: 1px solid #c6c6c6;
	a{
		text-transform: uppercase;
		font-family: Georgia, "Times New Roman", serif;
		font-size: 10pt;
	}
}

span.JobTitle, span.OrgName_Exp,span.JobsLink {
		display: block;
	}
span.OrgName_Exp {
	padding-top: 4px;
}
span.JobsLink a{
	color: #444;
	text-decoration: underline;
}


